<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjl.mapper.UploadFileMapper">
   <resultMap type="com.yjl.entity.ExcelInfo" id="excelInfoMap">
    <id column="id" property="id"/>
    <result column="excel_name" property="excelName"/>
    <result column="create_date" property="createDate" jdbcType="DATE" javaType="java.util.Date"/>
    <result column="save_path" property="savePath"/>
    <result column="table_name" property="tableName"/>
  </resultMap>
  <select id="findExcelInfo" parameterType="java.util.Map" resultMap="excelInfoMap">
    select id,excel_name,create_date,save_path,table_name from t_excelinfo 
    <if test="null != excelName and '' != excelName">
    where excel_name = #{excelName}
    </if>
  </select>
  
  <select id="findMaxId" resultType="java.lang.Integer">
     select max(id) from t_excelinfo
  </select>
  
  <insert id="addExcelInfo" parameterType="java.util.Map">
    insert into t_excelinfo(excel_name,create_date,save_path,table_name) 
    values(#{excelName},#{createDate,jdbcType=TIMESTAMP},#{savePath},#{tableName})
  </insert>
  
  <delete id="deleteExcelInfo" parameterType="java.util.Map">
    delete from t_excelinfo where excel_name = #{excelName}
  </delete>
  
  
  <update id="updateExcelInfo" parameterType="java.util.Map">
    update t_excelinfo set excel_name = #{excelName},create_date = #{createDate},save_path = #{savePath}
    where id = #{id}
  </update>
  
  <update id="dropTable" parameterType="java.lang.String">
    drop table if exists ${_parameter}
  </update>
  
  <update id="createTable" parameterType="java.lang.String">
    create table ${_parameter} (
       id int NOT NULL AUTO_INCREMENT,
       PRIMARY KEY (id)
    )
  </update>
  
  
  <update id="addTableField" parameterType="java.util.Map">
    alter table ${tableName} add ${excelHeadName} varchar(99);
  </update>
  
  <update id="addExcelData" parameterType="java.util.Map">
    insert into ${tableName}(${headName}) values(${inserValues})
  </update>
  
  <select id="queryExcelDataByModelName" parameterType="java.util.Map" resultType="java.util.Map">
     select * from ${tableName} limit #{start},#{limit}
  </select>
  
  <select id="queryExcelDataTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
     select count(1) from ${tableName}
  </select>
  
</mapper>